<h1><%= title %></h1>
<%= form_for @user do |f| %>
  <% if flash.any? %>
    <%= render "layouts/flash", flash: flash %>
  <% end %>

  <div class="field">
    <%= f.label :email %><br />
    <% if @user.id.nil? %>
      <%= f.text_field :email %>
    <% else %>
      <%= @user.email %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit "#{ btn_text }" %>
  </div>
<% end %>
