<h1><%= title %></h1>
<%= form_for @user do |f| %>
  <% if flash.any? %>
    <%= render "layouts/flash", flash: flash %>
  <% end %>

  <%= render "layouts/users/#{ action_name }.html.erb", form: f %>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit "#{ btn_text }" %>
  </div>
<% end %>
