<h1>Sign Up</h1>
<%= form_for @user do |f| %>
  <% if flash[:notice].present? %>
    <li><%= flash[:notice] %></li>
  <% else %>
    <% flash[:error].each do |error_msg| %>
      <li><%= error_msg %></li>
    <% end %>
  <% end %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.text_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit "Sign Up" %>
  </div>
<% end %>
